[Unit]
Description=flask server

[Service]
WorkingDirectory=/home/debian/ECE434-leeni/hw07
ExecStart=/home/debian/ECE434-leeni/hw07/app5.py
SyslogIdentifier=flask

[Install]
WantedBy=multi-user.target
